.profile__caption{
    color: #FFF;
    grid-area: caption;
    margin: 0;
    min-height: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-top: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    min-width: 10px;
    max-width: 293px;
}

@media screen and (max-width: 880px){
    .profile__caption{
        min-width: 282px;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        margin-top: 14px;
    }
}